<div *ngIf="!hide">
    <div class="region fullscreen below">
        <div class="container">
            ListenerComponent
        </div>
    </div>
    <div class="region top bar">
        <div class="container"></div>
        <div class="region top left">
            <div class="container">
                <mirror-date-container></mirror-date-container> <br/> SoccerContainer
            </div>
        </div>
        <div class="region top center">
            <div class="container">
            </div>
        </div>
        <div class="region top right">
            <div class="container">
                <mirror-weather-container></mirror-weather-container>
            </div>
        </div>
    </div>
    <div class="region upper third">
        <div class="container"></div>
    </div>
    <div class="region middle center">
        <div class="container"></div>
    </div>
    <div class="region lower third">
        <div class="container">
            SpotifyComponent
        </div>
    </div>
    <div class="region bottom bar">
        <div class="container"></div>
        <div class="region bottom left">
            <div class="container"></div>
        </div>
        <div class="region bottom center">
            <div class="container"></div>
        </div>
        <div class="region bottom right">
            <div class="container">
                FeedContainer
            </div>
        </div>
    </div>
    <div class="region fullscreen above">
        <div class="container"></div>
    </div>
</div>