<div id="module_3_calendar" class="module calendar">
    <header>Termine</header>
    <div class="module-content">
        <table class="small">
            <tbody>
                <tr class="normal">
                    <td class="symbol">
                        <span class="fa fa-calendar-check-o"></span>
                    </td>
                    <td class="title bright">TITLE</td>
                    <td class="title light">DATE</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>